<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataUsageBilledPath" value="E:\Madhu Rajput\ControlCenterLive\ControlCenterLive\App_Data\Download\Usage\DataUsage\Billed" />
		<add key="DataUsageUnbilledPath" value="E:\Madhu Rajput\ControlCenterLive\ControlCenterLive\App_Data\Download\Usage\DataUsage\Unbilled" />
		
		<add key="SMSUsageBilledPath" value="E:\Madhu Rajput\ControlCenterLive\ControlCenterLive\App_Data\Download\Usage\SMSUsage\Billed" />
		<add key="SMSUsageUnbilledPath" value="E:\Madhu Rajput\ControlCenterLive\ControlCenterLive\App_Data\Download\Usage\SMSUsage\Unbilled" />

		<add key="VoiceUsageBilledPath" value="~/App_Data/Download/Usage/VoiceUsage/Billed" />
		<add key="VoiceUsageUnbilledPath" value="~/App_Data/Download/Usage/VoiceUsage/Unbilled" />
	</appSettings>
	<connectionStrings>		
		<add name="SixTyEntities_ADO"
			 connectionString="Data Source=70.35.205.170;Initial Catalog=ControlCenter;User ID=sa;Password=Sql170@Nsp1008$;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
